input[type=checkbox]:checked + span{
    transition: ease all 1s;
    animation: gradiente linear 1s both;
}

input[type=checkbox]:checked + span::before{
    transform: translateX(32px); 
}

@keyframes gradiente {

    0%{
        background-color: #9AB7CA;
    }

    100%{
        background-color: #4D7B9F;
    }

}

.scroll-bar::-webkit-scrollbar {
    width: 6px;              
}
  
.scroll-bar::-webkit-scrollbar-track {
    background: none;        
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #9AB7CA;
    border-radius: 32px;
}

.concluido:checked + label::before{
    background-color: #4D7B9F;
    border: none;
    background-position: center;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");;
}

.layout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, calc(50% - 6px)));
    grid-gap: 12px;
    justify-content: center;
    padding-bottom: 12px;
}

.tarefas {
    max-width: 100%;
}

.layout .tarefas:nth-child(2){
    transform: translateX(calc(-100% + 24vh));
}